.in-progress {
	--pwd: var(--wave-diameter, 48px);
	--pwb: var(--wave-thickness, 3px);
	--pwt: var(--wave-duration, 1.2s);
	position: relative;
	top: 0;
	left: 0;
}

@keyframes progresswave {
	from {
		border: var(--pwb) rgba(0, 0, 0, .5) solid;
		width: calc(var(--pwb) * 2);
		height: calc(var(--pwb) * 2);
		border-radius: calc(var(--pwb) * 2);
	}
	to {
		border: var(--pwb) rgba(0, 0, 0, 0) solid;
		width: var(--pwd);
		height: var(--pwd);
		border-radius: var(--pwd);
	}
}

.in-progress::before, .in-progress::after {
	content: "";
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	animation: var(--pwt) linear infinite progresswave;
}

.in-progress::after {
	animation-delay: calc(var(--pwt) / 2);
}

.loading-box {
	width: 500px;
	height: 400px;
	float: left;
	margin: 1em;
}

.in-progress.my-class-1 {
	--wave-diameter: 420px;
	--wave-thickness: 9px;
	--wave-duration: 2.2s;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
}
