@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.not-found {
	display: none;
}

.search-area {
	display: flex;
	gap: 30px;
	width: 200px;
}

.input-search-area {
	width: 250px;
}

.search-button {
	display: flex;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	align-items: flex-end;
}

.round:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.material-symbols-outlined {
	color: yellow;
	font-weight: 700;
}

.search-type {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
	gap: 20px;
	margin-bottom: 20px;
}

.search-itens {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	gap: 100px;
	margin-right: 110px;
}

.main-title {
	font-family: 'VT323', monospace;
	font-size: 100px;
}

.header-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(255, 255, 127);
	border-bottom: 1px solid black;
	box-shadow: 0px 10px 5px 	grey;
}

.pokedex-img {
	width: 100px;
	height: 100px;
}

.pokeball-img {
	width: 60px;
	height: 60px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px;
	width: 1200px;
	gap: 20px;
	margin-left: auto;
	margin-right: auto;
}

.pokemon-title {
	display: flex;
	justify-content: center;
	background-color: red;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	box-shadow: 0px 4px 5px grey;
}

.pokemon-title {
	font-family: 'VT323', monospace;
	font-size: 50px;	
}

/* CSS das box dos pokemons*/

.poke-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 180px;
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: 4px 4px 5px grey;
	cursor: pointer;
}

.poke-window h1 {
	font-size: 20px;
}

.poke-image {
	width: 75px;
	filter: saturate(200%);
}

.poke-types {
	display: flex;
	gap: 10px;
}

.poke-image:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.pokes {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.pagination-button {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
	margin-right: 110px;
}

.page-button {
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: 2px solid black;
}

.page-button:hover {
	border: 2px solid black;
	filter: saturate(200%);
	transform: scale(1.1);
}

.page-selected {
	filter: saturate(200%);
	transform: scale(1.4);
}

.page-selected:hover {
	filter: saturate(200%);
	transform: scale(1.4);
}

.gen-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 220px;
	gap: 20px;
	margin-bottom: 20px;
}

.gen-icon {
	width: 50px;
	cursor: pointer;
}

.select-gen {
	filter: saturate(150%);
	transform: scale(1.7);
	cursor: pointer;
}

.selected-pokemon {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	box-shadow: 5px 5px 20px 	black;
	width: 400px;
	height: 520px;
	gap: 20px;
	margin-bottom: 20px;
}

.poke-image-selected {
	width: 150px;
	filter: saturate(200%);	
}

.status {
	width: 200px;
}
.status p {
	display: flex;
	justify-content: space-between;
}

.type-show {
	margin-left: 40px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 20px;
}

.clean-filter-section {
	display: none;
	justify-content: center;
	margin-bottom: 30px;
}